@media (max-width:1120px) {
    .header {
        &__inner {
            justify-content: space-between;
        }
        &__logo {
            margin-right: 0;
        }
        &__menu {
            display: none;
        }
        &__menu.open{
            display: flex;
            width: 33%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
            border-radius: 0 0 30px 0;
            z-index: 20;
        }
        &__menu-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 55px 30px 30px 60px;
            text-align: center;
        }
        &__menu-item {
            margin-right: 0;
            margin-bottom: 25px;
        }
        &__menu-item:last-child {
            margin-left: 0;
        }
        &__close-btn {
            display: block;
        }
        &__burger {
            display: flex;
            order: -2;
            position: relative;
        }
    }
    .news {
        &__title {
            max-width: 700px;
        }
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    %title-font {
        font-size: 40px;
    }
    .button {
        padding: 20px 55px 20px 28px;
        &::after {
            width: 34px;
            height: 30px;
            right: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .wrapper {
        padding-top: 110px;
    }
    .header {
        &__inner {
            padding: 20px 0;
        }
    }
    .home {
        &__inner {
            height: 713px;
        }
        &__title {
            font-size: 60px;
        }
    }
    .advert {
        &__inner {
            padding: 75px 0;
        }
        &__card {
            width: 100%;
            margin: 0 auto;
        }
    }
    .about {
        &__inner {
            padding: 100px 0;
        }
        &__img {
            width: 33%;
            align-self: start;
        }
        &__content {
            width: 100%;
        }
    }
    .products {
        &__inner {
            padding: 80px 0;
        }
        &__price-old,
        &__price-new {
            font-size: 16px;
        }
        &__rate {
            max-width: 80px;
        }
    }
    .testimonials  {
        &__inner {
            padding: 80px 0 100px;
        }
        &__box {
            padding-bottom: 65px;
        }
        &__infographic {
            padding-top: 60px;
        }
        &__infographic-box {
            max-width: 170px;
            height: 170px;
        }
        &__infographic-num {
            font-size: 35px;
        }
    }
    .offer {
        &__inner {
            padding: 80px 0;
        }
    }
    .categories {
        &__link {
            padding: 20px;
            max-width: 200px;
        }
    }
    .news {
        &__top {
            margin-bottom: 54px;
            justify-content: space-around;
        }
        &__title {
            max-width: 600px;
        }
        &__btn {
            margin-left: 0;
        }
        &__col {
            width: 100%;
            max-height: 515px;
            margin: 0 auto 70px;
        }
        &__content-btn {
            padding: 10px 40px 10px 0;
            &::after {
                width: 19px;
                height: 18px;
                top: 52%;
            }
        }
    }
    .subscribe {
        &__inner {
            padding: 70px 40px;
        }
        &__form-email {
            padding: 20px 24px;
            width: 300px;
        }
    }
    .contacts {
        &__inner {
            padding: 80px 0;
            justify-content: center;
        }
        &__title {
            font-size: 24px;
        }
        &__social {
            padding-left: 20px;
            padding-right: 20px;
            flex-grow: 0;
        }
        &__social-text {
            max-width: 485px;
        }
    }
}

@media (max-width: 840px) {
    .header {
        &__close-btn {
            margin-top: 40px;
        }
        &__menu.open {
            width: 45%;
        }
    }
    .products {
        &__row {
            justify-content: center;
        }
        &__col {
            width: 50%;
        }
    }
    .eco {
        &__info-content {
            padding: 15px 15px 15px 60px;
        }
    }
    .categories {
        padding: 70px 0;
        &__link {
            font-size: 18px;
            padding: 10px;
            max-width: 150px;
            border-radius: 10px;
        }
    }
    .subscribe {
        &__inner {
            align-items: start;
        }
        &__form {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .contacts {
        &__social-text {
            max-width: 335px;
        }
        &__social-link {
            width: 45px;
            height: 45px;
        }
    }
}

@media (max-width: 768px) {
    body {
        line-height: 1.3;
    }
    .subtitle {
        font-size: 28px;
    }
    %title-font {
        font-size: 32px;
    }
    .wrapper {
        padding-top: 96px;
    }
    .header {
        &__burger {
            width: 42px;
            height: 42px;
            & span {
                width: 25px;
                height: 2px;
                margin: 2px auto;
            }
        }
        &__cart-icon {
            width: 42px;
        }
    }
    .testimonials {
        &__author-group {
            margin-top: 0;
        }
    } 
    .eco {
        &__title {
            margin-bottom: 15px;
        }
        &__item {
            margin-bottom: 8px;
        }
        &__info {
            padding: 20px 15px;
        }
        &__info-content {
            padding: 5px 15px 5px 45px;
        }
    }
    .news {
        &__inner {
            padding: 70px 0;
        }
        &__title {
            max-width: 410px;
        }
    }
    .subscribe {
        &__title {
            max-width: 200px;
        }
        &__btn {
            padding: 15px 55px 15px 28px;
        }
    }
    .contacts {
        &__inner {
            flex-direction: column;
            align-items: center;
            padding: 60px 0;
        }
        &__address {
            text-align: center;
            margin-right: 0;
        }
        &__item-box {
            display: flex;
        }
        &__address-item {
            margin: 0 20px 40px;
        }
        &__social {
            border-top: 1px solid #d5d5d5;
            border-bottom: 1px solid #d5d5d5;
            border-right: none;
            border-left: none;
            width: 100%;
            padding: 20px 0;
        }
        &__logo {
            margin-bottom: 25px;
        }
        &__social-text {
            margin-bottom: 25px;
            max-width: 500px;
        }
        &__links {
            padding-top: 40px;
            margin-left: 0;
            text-align: center;
        }
        &__links-list {
            display: flex;
        }
        &__links-item {
            margin: 0 10px 18px;
        }
    }
}

@media (max-width: 600px) {
    .header {
        &__menu.open {
            width: 50%;
        }
        &__close-btn {
            margin-left: 15px;
        }
    }
    .home {
        &__inner {
            height: 513px;
            padding-top: 30px;
            align-items: start;
        }
        &__title {
            font-size: 50px;
        }
    }
    .advert {
        &__inner {
            padding: 40px 0;
        }
    }
    .about {
        &__inner {
            padding: 70px 0;
            flex-direction: column;
        }
        &__img {
            align-self: center;
        }
        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            & .subtitle {
                display: block;
            }
        }
        &__title {
            text-align: center;
        }
        &__text {
            margin-bottom: 35px;
        }
        &__item {
            margin-bottom: 15px;
        }
        &__btn {
            margin-top: 20px;
        }
    }
    .products {
        &__inner {
            padding: 40px 0;
        }
        &__card {
            display: flex;
            flex-direction: column;
            align-items: start;
        }
        &__img {
            flex-grow: 1;
        }
        &__info {
            text-align: center;
        }
        &__price {
            justify-content: center;
        }
        &__price-new {
            margin-right: 0;
        }
    }
    .testimonials {
        &__inner {
            padding: 80px 0;
        }
        &__infographic {
            padding-top: 30px;
        }
        &__infographic-box {
            width: 50%;
        }
    }
    .offer {
        &__inner {
            padding: 40px 0;
        }
        &__top {
            flex-direction: column;
            align-items: start;
        }
        &__btn {
            margin-top: 15px;
        }
    }
    .eco {
        &__inner {
            flex-direction: column;
        }
        &__img,
        &__info {
            width: 100%;
        }
        &__info {
            padding: 20px 15px 0;
        }
        &__info-content {
            left: 0;
            top: -60px;
            padding: 5px 15px;
        }
        &__title {
            max-width: 100%;
        }
    }
    .news {
        &__inner {
            padding: 40px 0;
        }
        &__top {
            flex-direction: column;
            align-items: start;
            margin-bottom: 30px;
        }
        &__title {
            max-width: 100%;
        }
        &__content {
            max-width: 450px;
            padding: 25px;
            bottom: -50px;
        }
    }
    .subscribe {
        &__inner {
            flex-direction: column;
        }
        &__title {
            max-width: 100%;
            margin: 0 auto 15px;
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    .header {
        &__cart {
            padding: 0;
            border: none;
        }
        &__cart-text,
        &__cart-num {
            display: none;
        }
        &__menu.open {
            width: 100%;
            border-radius: 0 0 30px 30px;
        }
        &__menu-list {
            padding-left: 30px;
        }
    }
    .home {
        &__content {
            text-align: center;
        }
    }
    .advert {
        &__info {
            font-size: 32px;
            width: 60%;
            left: 25px;
        }
    }
    .products {
        &__col {
            width: 80%;
        }
    }
    .categories {
        &__col {
            width: 50%;
        }
    }
    .news {
        &__content {
            max-width: 315px;
        }
    }
    .subscribe {
        &__inner {
            padding: 50px 25px;
        }
        &__form-email {
            width: 100%;
            &::placeholder {
                font-size: 14px;
            }
        }
    }
    .contacts {
        &__inner {
            padding: 30px 0;
        }
        &__item-box {
            flex-direction: column;
        }
        &__address-item {
            margin-bottom: 20px;
        }
        &__links {
            padding-top: 20px;
        }
        &__links-list {
            flex-direction: column;
        }
    }
}

@media (max-width: 390px) {
    .news {
        &__content {
            max-width: 250px;
            padding: 15px;
        }
        &__author {
            font-size: 14px;
        }
        &__content-title {
            font-size: 18px;
            margin-bottom: 15px;
        }
        &__content-btn {
            font-size: 18px;
        }
    }
    .categories {
        &__col {
            width: 100%;
        }
    }
}

@media (max-width: 345px) {
    .wrapper {
        padding-top: 90px;
    }
}

@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
    %title-font {
        font-size: 26px;
    }
    .subtitle {
        font-size: 21px;
    }
    .header {
        &__burger {
            margin: 0;
            margin-right: 20px;
            height: 36px;
        }
        &__menu-list {
            padding: 30px 55px;
        }
        &__cart {
            margin-left: 20px;
        }
    }
    .advert {
        &__info {
            font-size: 23px;
        }
    }
    .about {
        &__item {
            align-items: start;
        }
        &__item-img {
            max-width: 40px;
            margin-right: 10px;
        }
        &__item-title {
            font-size: 21px;
        }
    }
    .products {
        &__col {
            width: 100%;
        }
    }
    .testimonials {
        &__infographic-box {
            width: 100%;
        }
    }
    .eco {
        &__item-title {
            font-size: 21px;
        }
    }
}