@media (max-width:1120px) {
    .header {
        &__inner {
            justify-content: space-between;
        }
        &__logo {
            margin-right: 0;
        }
        &__menu {
            display: none;
        }
        &__menu.open{
            display: flex;
            width: 33%;
            position: absolute;
            top: 0;
            left: 0;
            background-color: #fff;
            box-shadow: 0px 2px 18px rgba(0, 0, 0, 0.14);
            border-radius: 0 0 30px 0;
        }
        &__menu-list {
            width: 100%;
            display: flex;
            flex-direction: column;
            padding: 55px 30px 30px 100px;
            text-align: center;
        }
        &__menu-item {
            margin-right: 0;
            margin-bottom: 25px;
        }
        &__menu-item:last-child {
            margin-left: 0;
        }
        &__burger {
            display: flex;
            order: -2;
            position: relative;
            z-index: 5;
        }
    }
    .news {
        &__title {
            max-width: 700px;
        }
    }
}

@media (max-width: 1024px) {
    body {
        font-size: 16px;
    }
    %title-font {
        font-size: 40px;
    }
    .button {
        padding: 20px 55px 20px 28px;
        &::after {
            width: 34px;
            height: 30px;
            right: 9px;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .header {
        &__inner {
            padding: 20px 0;
        }
    }
    .home {
        &__inner {
            height: 713px;
        }
        &__title {
            font-size: 60px;
        }
    }
    .advert {
        &__inner {
            padding: 75px 0;
        }
        &__card {
            width: 100%;
            margin: 0 auto;
        }
    }
    .about {
        &__inner {
            padding: 100px 0;
        }
        &__img {
            width: 33%;
            align-self: start;
        }
        &__content {
            width: 100%;
        }
    }
    .products {
        &__inner {
            padding: 80px 0;
        }
        &__name {
            text-align: center;
        }
        &__price-old,
        &__price-new {
            font-size: 16px;
        }
        &__price-new {
            margin-right: 0;
        }
        &__rate {
            max-width: 80px;
        }
    }
    .testimonials  {
        &__inner {
            padding: 80px 0 100px;
        }
        &__box {
            padding-bottom: 65px;
        }
        &__infographic {
            padding-top: 60px;
        }
        &__infographic-box {
            max-width: 170px;
            height: 170px;
        }
        &__infographic-num {
            font-size: 35px;
        }
    }
    .offer {
        &__inner {
            padding: 80px 0;
        }
    }
    .categories {
        &__link {
            padding: 20px;
            max-width: 200px;
        }
    }
    .news {
        &__top {
            margin-bottom: 54px;
            justify-content: space-around;
        }
        &__title {
            max-width: 600px;
        }
        &__btn {
            margin-left: 0;
        }
        &__col {
            width: 100%;
            max-height: 515px;
            margin: 0 auto 70px;
        }
        &__content-btn {
            padding: 10px 40px 10px 0;
            &::after {
                width: 19px;
                height: 18px;
                top: 52%;
            }
        }
    }
    .subscribe {
        &__inner {
            padding: 70px 40px;
        }
        &__form-email {
            padding: 20px 24px;
            width: 300px;
        }
    }
    .contacts {
        &__inner {
            padding: 80px 0;
            justify-content: center;
        }
        &__title {
            font-size: 24px;
        }
        &__social {
            padding-left: 20px;
            padding-right: 20px;
            flex-grow: 0;
        }
        &__social-text {
            max-width: 485px;
        }
    }
}

@media (max-width: 840px) {
    .products {
        &__price {
            flex-direction: column;
            align-items: center;
        }
    }
    .eco {
        &__info-content {
            padding: 15px 15px 15px 60px;
        }
    }
    .categories {
        padding: 70px 0;
        &__link {
            font-size: 18px;
            padding: 10px;
            max-width: 150px;
            border-radius: 10px;
        }
    }
    .subscribe {
        &__inner {
            align-items: start;
        }
        &__form {
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .contacts {
        &__social-text {
            max-width: 335px;
        }
        &__social-link {
            width: 45px;
            height: 45px;
        }
    }
}